/* style */

/* 自訂附加 Reset ====== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*a{
  text-decoration: none;
}
*img{
  display: block;
  vertical-align: middle;
}
/* 自訂附加 Reset ====== */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
}

.container{
  max-width: 1296px;
  margin: 0 auto;
}
